$clr-primary-white: #ffffff;
$clr-primary-gray: #6d6e70;
$clr-primary-red: #ed1b2e;
$clr-primary-black: #000000;

$clr-neutral-light-gray: #d7d7d8;
$clr-neutral-gray: #9f9fa3;

$clr-secondary-khaki: #e2d7ac;
$clr-secondary-sand: #b4a996;
$clr-secondary-gold: #ecb731;
$clr-secondary-safety-green: #8ec06c;
$clr-secondary-forest-green: #537b35;
$clr-secondary-light-blue: #c4dff6;
$clr-secondary-sky-blue: #56a0d3;
$clr-secondary-classic-blue: #0091cd;
$clr-secondary-midnight-blue: #004b79;
$clr-secondary-deep-red: #7f181b;
